

<div class="login-container">
  <h2 class="welcome">Welcome to the store</h2>
  <% if flash[:alert] %>
    <div class="flash-alert"><%= flash[:alert] %></div>
  <% end %>
  <% if flash[:notice] %>
    <div class="flash-notice"><%= flash[:notice] %></div>
  <% end %>
  <div class="login-form-box">
    <%= form_with url: session_path, html: { class: "login-form" } do |form| %>
      <div class="form-group">
        <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", placeholder: "Enter your email address", value: params[:email_address], class: "login-field" %>
      </div>
      <div class="form-group">
        <%= form.password_field :password, required: true, autocomplete: "current-password", placeholder: "Enter your password", maxlength: 72, class: "login-field" %>
      </div>
      <div class="form-group">
        <%= form.submit "Sign in", class: "login-btn" %>
      </div>
    <% end %>
    <div class="forgot-password-link">
      <%= link_to "Forgot password?", new_password_path %>
    </div>
  </div>
</div>
